menu "Entradas e saidas"
        
    config GPIO_RXD
        int "RXD PORT"
        range 1 39
        default 16
        help
            RXD port.
                    
    config GPIO_TXD
        int "TXD PORT"
        range 1 39
        default 17
        help
            TXD port.

    config GPIO_LED
        int "LED do robo"
        range 1 39
        default 2
        help
            LED do robo.
     
    config GPIO_MICRO_SERVO
        int "Micro servo digital input"
        range 1 39
        default 18
        help
            Micro servo digital input.

    config GPIO_END_BASE
        int "Fim de curso para a base digital input"
        range 1 39
        default 12
        help
            Fim de curso para a base.

    config GPIO_END_MOTOR_ESQUERDO
        int "Fim de curso para o elo esquerdo"
        range 1 39
        default 13
        help
            Fim de curso para o elo esquerdo.

    config GPIO_END_MOTOR_DIREITO
        int "Fim de curso para o elo direito"
        range 1 39
        default 14
        help
            Fim de curso para o elo direito.
endmenu