menu "Sensors"

    config GPIO_MICRO_SERVO
        int "Micro servo digital input"
        range 1 39
        default 18
        help
            Micro servo digital input.
        
    config GPIO_RXD
        int "RXD PORT"
        range 1 39
        default 16
        help
            RXD port.
                    
    config GPIO_TXD
        int "TXD PORT"
        range 1 39
        default 17
        help
            TXD port.

    config GPIO_NEMA_BASE
        int "Nema base digital input"
        range 1 39
        default 6
        help
            Nema base digital input.
       
endmenu